# Developer tools' files
.lite_workspace.lua

# Build & packages
/bin
/dist
/node_modules
tsconfig.json
/build
/package
/.tmp
.eslint*.*
**/*.log

# Neutralinojs related files
.storage

# environment settings
*.env

#test and other
test
