:root {
	padding: 0px;
	margin: 0px;
	height: 100vh;
	font-family: monospace;
	font-size: 18px;
}

body {
	background-color: #12033b;
	padding: 0px;
	margin: 0px;
	color: rgb(203, 228, 231);
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0.5rem 0;
}

.container {
	background-color: #12235b;
	width: 90%;
	padding: 1rem 0;
	margin: 1rem auto;
	border-radius: 1rem;
	border: 2px solid #22336b;
}

.menu-button {
	appearance: none;
	font-size: 1.2rem;
	padding: 0.25rem 1.2rem;
	font-variant: small-caps;
	background-color: #4366d8;
	border: 1px solid #12033b;
	color: black;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 3px #12033b;
	cursor: pointer;
}

.menu-button:hover {
	box-shadow: 0px 0px 3px #4366d8;
	text-shadow: 0px 0px 2px #b7c5f1;
}

#server-log {
	background-color: black;
	min-height: 20rem;
	max-height: 20rem;
	width: 97%;
	margin: 1rem auto;
	color: yellow;
	border: 2px rgb(53, 52, 52) solid;
	overflow-y: scroll;
}

.server-log-line {
	text-align: left;
	padding: 0.25rem 0.5rem;
}