@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	padding: 0px;
	margin: 0px;
	height: 100vh;
	font-family: monospace;
	font-size: 18px;
}

body {
	background-color: #12033b;
	padding: 0px;
	margin: 0px;
	color: rgb(203, 228, 231);
	text-align: center;
}